* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li {
  list-style: none;
}

.menu {
  width: 15%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262626;
  color: #666666;
}

.menu > * {
  margin-bottom: 40px;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: #666666;
}

.body {
  width: 65%;
  padding: 40px 25px;
  background-color: #f5f5f5;
}

.body__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e6eb;
  margin-bottom: 20px;
}

.header__left {
  width: 50%;
}

.header__left h2 {
  margin-bottom: 10px;
}

.header__bar {
  display: flex;
}

.search {
  width: 300px;
  padding: 10px 20px;
  border: none;
  background-color: #e4e6eb;
  border-radius: 50px;
}

.search::placeholder {
  color: #8f9298;
}

.header__bar > * {
  margin-right: 20px;
}

.body__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stats {
  display: flex;
}

.stats p {
  margin-right: 20px;
}

.item__container {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
  padding: 10px;
}

.color__div {
  height: 100%;
  width: 3px;
  border-radius: 5px;
  background-color: #8e9197;
}

.content__wrapper {
  margin-left: 30px;
  width: 50%;
}

.bold {
  font-size: 24px;
  font-weight: 500;
}

.item__information {
  display: flex;
  align-items: center;
}

.status {
  border: 1px solid #e4e6eb;
  border-radius: 20px;
  padding: 4px 8px;
  text-align: center;
}

.color {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #8e9197;
}

.select__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #e4e6eb;
  padding: 10px;
  margin-left: 20px;
  border-radius: 50px;
}

.mr {
  margin-right: 10px;
}

.ml {
  margin-left: 10px;
}

#actionType {
  width: 200px;
  border: none;
  height: 100%;
}

#actionType:focus {
  border: none;
}
#actionType:active {
  border: none;
}

.activity {
  flex: 1;
  background-color: #f5f5f5;
  padding: 40px 20px;
}

.activity__header {
  padding: 20px 0;
  border-bottom: 1px solid #e4e6eb;
}

.activity__item {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #e4e6eb;
}

.name__wrapper {
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #9ca4ab;
}

.name__wrapper > p {
  margin-right: 20px;
}

.info__wrapper {
  display: flex;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #9ca4ab;
}

.info__wrapper > p {
  margin-right: 20px;
}
